/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* COLOR PALETTE */
:root {
    --white: #ECE7EE;
    --silver: #C0C0C0;
    --black: #030b38;
    --green: #27a361; 
    --red: #a01031;
    --blue: #006fca;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
}
    .menu {
        width: 35%;
        float: left;
    }
    .canvas {
        width: 65%;
        float: left;
    }

body {
    background-color: var(--blue);
    z-index: 0;
}

/* CANVAS */
canvas {
    background-color: var(--white);
    border: 15px solid var(--silver);
    border-style: groove;
    box-shadow: 0px 0px 10px var(--black);
    margin: 0 5%;
    width: 95%;
    height: 800px;
}
    canvas:hover {
        cursor: grab;
    }
    .canvas-controls {
        color: var(--white);
        margin: 5px 5%;
    }
    #clear-canvas {
        border-radius: 5px;
        cursor: pointer;
        color: var(--black);
    }
        #clear-canvas:hover {
            cursor: pointer;
            background-color: var(--black);
            color: var(--white);
        }
    #color {
        border-radius: 5px;
        cursor: pointer;
    }
    #weight {
        text-align: center;
        opacity: 1;
        border-radius: 5px;
        cursor: pointer;
    }
    
/* TIMER */
.timer {
    height: 105px;
    border: 5px solid var(--silver);
    border-style: groove;
    margin-top: .5rem;
    margin-left: 3rem;
    background-color: var(--white);
}
    .time {
        text-align: center;
        font-size: 2.5rem;
        color: var(--black);
    }
    #start-btn {
        margin: .5rem .2rem;
        color: var(--green);
        border-color: var(--green);
        border-radius: 5px;
        width: 45%;
        float: left;
    }
        #start-btn:hover {
            color: var(--white);
            background-color: var(--green);
            cursor: pointer;
        }
    #reset-btn {
        margin: .5rem .2rem;
        width: 45%;
        float: right;
        color: var(--red);
        border-color: var(--red);
        border-radius: 5px;
    }
        #reset-btn:hover {
            color: var(--white);
            background-color: var(--red);
            cursor: pointer;
        }

/* INPUT NEW PLAYER AND NEW WORD */
.new-player, .new-word {
    font-size: 1.5rem;
    margin: 1rem 0;
}
.add-player, .add-word{
    margin: 5px;
    font-size: 1.5rem;
    border-radius: 5px;
}
    .add-player:hover, .add-word:hover {
        cursor: pointer;
        background-color: var(--black);
        color: var(--white);
    }

/* SCOREBOARD */
.scoreboard {
    background-color: var(--white);
    border: 5px solid var(--silver);
    border-style: groove;
    box-shadow: 0px 0px 10px var(--black);
    text-align: center;
    margin-left: 2rem;
}
    .scoreboard h1 {
        margin: 0;
    }
    .scoreboard p {
        color: var(--blue);
        display: grid;
        grid-template-columns: 50% 20% 20%;
        padding: .2rem;
        /* grid-row-start / grid-column-start / grid-row-end / grid-column-end */
    }
    .player {
        grid-area: 1/1/3;
        font-size: 1.5rem;
        margin: 0;
        border-bottom: var(--silver);
    }
    .delete-player {
        border: none;
        border-radius: 10px;
        background-color: var(--white);
        grid-area: 1/2/3;
        font-size: 1rem;
    }   
        .delete-player:hover {
            background-color: var(--red);
            cursor: pointer;
        }
    .points {
        color: var(--blue);
        border: none;
        background-color: var(--white);
        grid-area: 1/3/3;
        font-size: 1.5rem;
        text-align: center;
    }

/* UP AND DOWN NUMBER INPUT ARROWS */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
    opacity: 1;
    cursor: pointer;
}

/* GAME CARDS */
.cards-container {
    height: 250px;
    width: 100%;
    padding: 0 30px;
    margin: 1rem;
    background-color: var(--white);
    border: 5px solid var(--silver);
    border-style: groove;
    box-shadow: 0px 0px 10px var(--black);
    text-align: center;
}
    .cards-container:hover {
        background-color: var(--black);
        color: var(--white);
        cursor: pointer;
    }
    .cards-container h2 {
        margin: 0;
        padding: 0;
    }
    .cards-container h4 {
        font-size: .75rem;
        color: var(--blue);
        margin: 0;
        padding: 0;
    }
.game-card {
    text-align: center;
    background-color: var(--white);
    padding: 10px;
    margin: 20px 0;
    color: var(--blue);
    border: 2px solid var(--silver);
    border-style: groove;
    box-shadow: 0 0 10px 1px;
    font-size: 1.5rem;
}

/* GET NEW WORDS */
.new-words {
    width: 75%;
    margin: 0 6rem;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 0 2rem;
    box-shadow: 0px 0px 10px var(--white);
}
    .new-words:hover {
        cursor: pointer;
        background-color: var(--black);
        color: var(--white);
    }

/* RULES */
.rulesbtn {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
    z-index: 5;
    background: var(--white);
    color: var(--blue);
    border-radius: 5px;
}
    .rulesbtn:hover {
        background-color: var(--white);
        color: var(--blue);
    }
.rules {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 4;
    margin: 10px;
    padding: 10px;
    color: var(--blue);
    background-color: var(--white);
    border: 10px solid var(--silver);
    border-style: groove;
    box-shadow: 0 0 20px 2px var(--black);
}
    .rules h1,h4 {
        text-align: center;
        color: var(--black);
        margin: 0;
    }
    .rules ol {
        margin: 0;
    }

/* COPYRIGHT */
.copyright {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: var(--white);
    text-shadow:1px 1px 10px var(--black);
  }