/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* COLOR PALETTE */
:root {
    --white: #ECE7EE;
    --black: #030b38;
    --green: #27a361; 
    --red: #a01031;
    --blue: #006fca;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
}

body {
    columns: 2;
    width: 50%;
    height: 50%;
    background-color: var(--blue);
}

canvas {
    border: 10px solid var(--white);
}

.cards-container {
    height: 100px;
    width: 200px;
    border: 2px solid;
    padding: 0 10px;
    margin: auto;
}


























.copyright {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: var(--white);
    text-shadow:1px 1px 10px var(--black);
  }