/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* COLOR PALETTE */
:root {
    --white: #ECE7EE;
    --silver: #C0C0C0;
    --black: #030b38;
    --green: #27a361; 
    --red: #a01031;
    --blue: #006fca;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
    opacity: 1;
}

body {
    background-color: var(--blue);
}
    .column {
        float: left;
        width: 50%;
        padding: 10px;
        height: auto;
    }
    .row::after{
        content: "";
        display: table;
        clear: both;
    }


.cards-container {
    height: 100px;
    width: 200px;
    border: 2px solid;
    padding: 0 10px;
    margin: auto;
}

/* CANVAS */
canvas {
    background-color: var(--white);
    border: 15px solid var(--silver);
    border-style: groove;
    box-shadow: 0px 0px 10px var(--black);
}
    .canvas-controls {
        color: var(--white);
        margin: 10px;
    }
    #clear-canvas {
        border-radius: 5px;
    }
    #color {
        border-radius: 5px;
    }
    #weight {
        text-align: center;
        opacity: 1;
        border-radius: 5px;
    }

/* RULES AND HELP */
.rulesbtn {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
    z-index: 5;
    background: var(--blue);
    color: var(--white);
    border-radius: 5px;
}
    .rulesbtn:hover {
        background-color: var(--white);
        color: var(--blue);
    }
.rules {
    position: absolute;
    top: 20px;
    left: 20px;
    color: var(--blue);
    background-color: var(--white);
}

/* COPYRIGHT */
.copyright {
    position: fixed;
    bottom: 10px;
    left: 10px;
    color: var(--white);
    text-shadow:1px 1px 10px var(--black);
  }